@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFBB00;
  --secondary: #65624C;
  --main: #263238;
  --main-light-yellow: #FFCF4B;
  --main-light-grey: #F9F9F9;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}